{{ define "title" }}Dashboard{{ end }}

{{ define "body" }}
<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <div><span id="dashboard-connection-count"></span> users connected</div>
    <div id="map" class="mb-3 rounded" style="width: 600px; height: 400px;"></div>
    <div class="d-flex justify-content-around w-100 mt-auto" style="max-width: 600px">
        <div>
            <div id="dashboard-real-name">Loading...</div>
            <div id="dashboard-cid">Loading...</div>
            <div>Network Rating: <span id="dashboard-network-rating">Loading...</span></div>
        </div>
        <div id="dashboard-user-editor">
        </div>
    </div>
</div>

<script src="/static/js/leaflet.js"></script>
<script src="/static/js/openfsd/leaflet.rotatedmarker.js"></script>
<link href="/static/css/leaflet.css" rel="stylesheet">

<script src="/static/js/openfsd/dashboard.js" defer></script>
{{ end }}
